body {
    background-color: #2a2a2a;
    color: white;
}

.plot {
    width: 500px;
    height: 400px;
}

.section {
    margin-top: 50px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis {
    stroke: white;
}