body {
    background-color: #2a2a2a;
    color: white;
}

.section {
    background-color: #25c6b2;
    height: 450px;
    padding: 20px;
    margin: 10px 0;
}

.function-plot {
    background-color: white;
}

#linear, #quadratic, #cubic {
    width: 550px;
    height: 350px;
    background-color: white;

    -webkit-box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
}

.history {
    max-height: 100%;
    overflow-y: auto;
}

table {
    max-height: 100%;
    width: 100%;
    border: 7px solid #2a2a2a;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
}


th {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #2a2a2a;
    margin: 0;
}

td {
    border: 1px solid #2a2a2a;
    border-top: 2px solid #2a2a2a;
    margin: 0;
    padding: 5px;
}