body {
    background-color: #2a2a2a;
    color: white;
}

.section {
    background-color: #25c6b2;
    height: 450px;
    padding: 20px;
    margin: 10px 0;
}

.function-plot {
    background-color: white;
}

#linear, #quadratic, #cubic {
    width: 550px;
    height: 350px;
    background-color: white;

    -webkit-box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.6);
}